body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #6a3093, #a04);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.clock_container{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    font-size: 48px;
}