body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: lightgray;
}

.content-top{
    /* background-color: white; */
    width: 30%;
    margin: auto;    
}
.logo h1{
    text-align: center;
    color: blue;
    font-size: 50px;
    background-color: lightgray;
}
.container{
    border-radius: 10px;
    width: 100%;
    border: 2px solid black;
    background-color: white;
}
.container-top{
    text-align: center;
}
.container-top h2{
    margin: 0;
    padding: 0;
}
.container-top p{
    margin: 0;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    border-bottom: 1px solid gray ;
    padding-bottom: 10px;
}
.container-middle{
    width: 90%;
    margin: auto;
    margin-top:15px ; 
}
.input1 input{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 34px;
}
.input2 input{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 120px;
}
.input2 p{
    font-size: smaller;
    color: gray;
}
.input3 p{
    font-size: smaller;
    color: gray;
}
.gender-box{
    display: flex;
}
.input4 input{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
}
.etc p{
    font-size: x-small;
}
.signup{
    margin: auto;
    justify-content: space-around;
    width: 35%;
}
button{
    height: 30px;
    background-color: green;
    color: white;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 30px;
}
.content-bottom{
    background-color: white;
    margin-top: 50px;
    height: 200px;
}
.language{
    padding-top: 40px;
    width: 70%;
    margin: auto;
    color: blue;
    font-size: small;
}




